@page "/"




<SurveyPrompt Title="How is Blazor working for you?" />


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card my-4">
                <div class="card-header">
                    <span class="card-title">
                        Grafico de tabla
                    </span>
                </div>
                <div class="card-body">
                    <canvas id="0HN54BPV19J2V" _bl_6753="" style="display: block; box-sizing: border-box; height: 204px; width: 306px;" width="306" height="204"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">Column</div>
        <div class="w-100"></div>
        <div class="col-lg-6">Column</div>
        <div class="col-lg-6">Column</div>
    </div>
</div>