@page "/ventas-diarias"
@using puntodeventa.Models
@using puntodeventa.Services
@inject VentasService VentasService

@if (ventasHoy == null)
{
    <p>Cargando...</p>
}
else
{
    <h3>VentasDiarias</h3>
    <div class="container" style="border:solid;">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center bg-danger text-white display-1">
                $@TotalVentas
            </div>
            <div class="w-100"></div>
            <div class="col-sm-12 ">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var venta in ventasHoy)
                        {
                            <tr>
                                <td>@venta.id</td>
                                <td>@venta.Productos?.Nombre</td>
                                <td>@venta.Productos?.Precio</td>
                            </tr>
                        }
                    </tbody>
                </table> 
            </div>
        </div>
    </div>

}

@code {
    private List<Ventas> ventasHoy;
    private int TotalVentas;
    protected override async Task OnInitializedAsync()
    {
        ventasHoy = await VentasService.GetVentasDiarias();
        TotalVentas = await VentasService.GetTotalVentaNow();
    }

    private void Press()
    {
        // Aquí puedes mostrar un mensaje en consola del navegador usando JavaScript interop
        Console.WriteLine("La función ha sido ejecutada.");
    }
}