<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">puntodeventa</a>
        <button type="button" title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>          
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos">
                <span class="oi oi-book" aria-hidden="true"></span> Lista producto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ventas">
                <span class="oi oi-dollar" aria-hidden="true"></span> Retirar Producto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingreso-producto">
                <span class="oi oi-document" aria-hidden="true"></span> Ingreso de Productos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ventas-diarias">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Ventas Diarias
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
